<br />

<div class="ui menu">
    <div class="item header">
        <h3>Методы</h3>
    </div>
    <div class="right menu">
        <a class="active orange item" href="#!/method/edit/new">Добавить</a>
    </div>
</div>

<div class="ui segment">
    <div class="ui divided items">
        <div class="item" ng-repeat="item in methodIndexCtrl.items">
            <div class="image">
                <img src="/images/method-logo.png">
            </div>
            <div class="content">
                <a class="header">{{item.name}}</a>
                <div class="meta">
                    <span>Размерность: {{item.spaceSize}}</span>
                    <span>Экспериментов: {{item.experimentCount}}</span>
                </div>
                <div class="description">
                    <p>{{item.description}}</p>
                </div>
                <div ng-if="!item.experimentCount" class="extra">
                    <a class="ui button mini orange" href="#!/method/edit/{{item.id}}">Редактировать</a>
                    <a class="ui button mini orange" ng-click="methodIndexCtrl.remove(id)">Удалить</a>
                </div>
            </div>
        </div>
    </div>
</div>